@model IEnumerable<CoreTest1.Models.PartType>

@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#typeName').autocomplete({
                delay: 500,
                source: '/api/PartTypesRest/search',
                select: function (event, ui) {
                    var e = ui.item;
                    var result = e.id;
                }
            });
        });
    </script>
</head>

<h2>Index</h2>

<p>
    <a asp-action="Create">Додати</a>
</p>

<form asp-controller="PartTypes" asp-action="Index">
    <div class="input-group">
        <input type="text" id="typeName" name="typeName" class="btn btn-primary" placeholder="Введіть слово...">
        <div class="input-group">
            <button class="btn btn-primary" type="submit">Пошук</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Units)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Детальніше</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
