@model CoreTest1.Models.Left

@{
    ViewData["Title"] = "Delete";
}

<h2>Видалення</h2>

<h3>Точно видалити?</h3>
<div>
    <h4>Запис</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArrDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Part)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Part.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
